name: sm-cont-${BSM_NAME}

services:
  studio:
    image: ${BSM_IMAGE}
    ports:
       - ${BSM_PORT}:8787
       - ${BSM_DASHBOARD_PORT}:3838
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:8787 > /dev/null || { echo 'Attempt wget on port 8787 failed'; exit 1; };"]
      interval: 5s
      timeout: 3s
      retries: 5       
    restart: always
    environment:
      BSM_VERSION: ${BSM_VERSION}
      USER: ${BSM_USER}
      PASSWORD: ${BSM_PWD}
      LANG: "es_AR.UTF-8"
      TZ: "America/Argentina/Buenos_Aires"
      LC_ALL: "es_AR.UTF-8"
    volumes:
      - script_sm_app_smartmodel-app-data:/data
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    networks:
      - script_sm_app_smartmodel-net
    deploy:
      resources:
        reservations:
          cpus: ${BSM_CPU_CORES_MIN}
          memory: ${BSM_MEMORY_MIN}
    container_name: sm-svc-${BSM_NAME}

volumes:
  script_sm_app_smartmodel-app-data:
    external: true  

networks:
  script_sm_app_smartmodel-net:
    external: true
    
